<p id="notice"><%= notice %></p>

<h1>Fringes</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Sueldos hasta</th>
      <th>Valor del ticket</th>
      <th>Sueldos hasta</th>
      <th>Valor del ticket</th>
      <th>Sueldos mayores a</th>
      <th>Valor del ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fringes.each do |fringe| %>
      <tr>
        <td><%= fringe.fecha.to_formatted_s(:short) %></td>
        <td><%= fringe.primera_hasta %></td>
        <td><%= fringe.primera_precio %></td>
        <td><%= fringe.segunda_hasta %></td>
        <td><%= fringe.segunda_precio %></td>
        <td><%= fringe.segunda_hasta %></td>
        <td><%= fringe.tercera_precio %></td>
        <td><%= link_to 'Show', fringe %></td>
        <td><%= link_to 'Edit', edit_fringe_path(fringe) %></td>
        <td><%= link_to 'Destroy', fringe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fringe', new_fringe_path %>
